h1 {
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #222a2a;
}

h2 {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #222a2a;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #222a2a;
}

p {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #222a2a;
}

.cc {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #222a2a;
}

